
.sets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
}


.set {
    border: 3px outset rgb(110, 96, 96);
    margin:2px;
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 10% 100%;
    min-height:35px;
    padding: 0.2vh 0.2vw 0.2vh 2.6vw;

}

.stats {
    display: grid;
    justify-content: space-between;
}

